.upperFeatures {
  display:flex; 
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.searchAndSortFeatures {
  display: flex;
  flex-direction: column;
  gap: 1em; 
}

nav {
  display: flex;
  background-color: peru;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.menuItem {
  list-style-type: none;
  color: #f9f9df;
  text-decoration: none;
  font-size: 1.5em;
}

.menuItem:hover {
  color: lavender;
}

.card {
  background-color: lavender;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 13em;
  padding: 2em;
}

.bookshelfSection {
  background-color: darkkhaki;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em;
}
body {
  background-color: cornsilk;
}

.titleCard {
  /* edit spacing here*/
  color: Peru;
  font-size: 1.5em;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  margin: 0;
}

.authorCard {
  color: Peru;
  font-size: 1em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.language {
  color: #d2985e;
  font-size: 0.5em;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 0;
}

.subjectTags {
  color: #d2985e;
  font-size: 0.5em;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}

.pageHeader {
  color: #d2985e;
  font-size: 3em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0;
  font-style: italic;
  text-align: center;
}

button {
  background-color: khaki;
  border: none;
  padding: 1em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1em;
  color: peru;
  border-radius: 2em;
  /* margin: 2em; */
}

button:hover {
  background-color: lavender;
  color: rgb(205, 155, 105);
  transition-duration: 0.5s;
  cursor: pointer;
}

.favoritedBook {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1em;
  color: rgb(127, 127, 167);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutText {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 1em;
  color: rgb(127, 127, 167);
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.contactHeader {
  display: flex;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 2em;
  color: rgb(127, 127, 167);
}

.contactInput {
  width: 25%;
  background-color: lavender;
  padding: 1em;
  border: none;
  outline: none;
  font-family: "Playfair Display", serif;
  color: rgb(127, 127, 167);
}

.contactInput::placeholder {
  font-family: "Playfair Display", serif;
  color: rgb(168, 168, 184);
}

.search {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.searchInput {
  height: 1em;
  width: 100%;  
  background-color: lavender;
  padding: 1em;
  border: none;
  outline: none;
  font-family: "Playfair Display", serif;
  color: rgb(127, 127, 167);
}

.searchButton {
  background-color: khaki;
  border: none;
  padding: 1em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1em;
  color: peru;
  border-radius: 2em;
  margin-left: 1em;
}

.sortMenuSection {
  display: flex;
  justify-content: flex-end;
  padding-top: 2%;
}

.sortMenu {
  background-color: lavender;
  border: none;
  height: 3em; 
  outline: none; 
  font-family: "Playfair Display", serif;
  color: rgb(127, 127, 167);
  position: absolute;
}

.addBook {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

#addBookInput {
  height: 1em;
  width: 100%;  
  background-color: lavender;
  padding: 1em;
  border: none;
  outline: none;
  font-family: "Playfair Display", serif;
  color: rgb(127, 127, 167);
}

#addBookInput::placeholder, .commentField::placeholder, .searchInput::placeholder {
  font-family: "Playfair Display", serif;
  color: rgb(168, 168, 184);
}

.addBookHeading {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(127, 127, 167);
}

.addBookButton {
  margin-top: 0; 
}

.counterElement {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1em;
  color: rgb(127, 127, 167);
  text-align: center;
  font-style: italic;
}

.commentSectionHeader {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(127, 127, 167);
  text-align: center;
}

.commentField {
  background-color: rgb(247, 247, 255);
  padding: .5em;
  border: none;
  outline: none;
  font-family: "Playfair Display", serif;
  color: rgb(127, 127, 167);
}

.comment {
  font-family: "Playfair Display", serif;
  color: rgb(127, 127, 167);
  font-style: italic;
}

.commentButton {
  background-color: khaki;
  border: none;
  padding: .6em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1em;
  color: peru;
  border-radius: 2em;
  margin: 2em;
}